<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>gestao-eventos-web</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Gestao</servlet-name>
    <servlet-class>web.frontcontroller.Gestao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/salvar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/consultar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/alterar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/excluir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/add-participante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/consultar-participantes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/participantes-evento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/evento/consultar-rateio</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/participantes/salvar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/participantes/consultar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/participantes/alterar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/participantes/excluir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/produtos/salvar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/produtos/consultar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/produtos/alterar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/produtos/excluir</url-pattern>
  </servlet-mapping> 
    <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/estoque/salvar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/estoque/consultar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/estoque/alterar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestao</servlet-name>
    <url-pattern>/estoque/excluir</url-pattern>
  </servlet-mapping>
 
</web-app>